In [254]:
#Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [255]:
# We create a dictionnary where we'll store our 5 DataFrames, imported from data files
data = {}

# for each year of study, store data as DataFrame in the dict
for year in range(2015, 2020):
    df = pd.read_csv(str(year)+'.csv')
    data[year] = df

In [256]:
# We create a DataFrame to store the columns lists for each set.
df_col = pd.DataFrame()
# For each year, store columns in DataFrame
for year in range(2015, 2020):
    df_col = pd.concat([df_col, pd.DataFrame(data[year].columns.tolist(), columns=[str(year)])],axis=1)

display(df_col)

,2015,2016,2017,2018,2019
0,Country,Country,Country,Overall rank,Overall rank
1,Region,Region,Happiness.Rank,Country or region,Country or region
2,Happiness Rank,Happiness Rank,Happiness.Score,Score,Score
3,Happiness Score,Happiness Score,Whisker.high,GDP per capita,GDP per capita
4,Standard Error,Lower Confidence Interval,Whisker.low,Social support,Social support
5,Economy (GDP per Capita),Upper Confidence Interval,Economy..GDP.per.Capita.,Healthy life expectancy,Healthy life expectancy
6,Family,Economy (GDP per Capita),Family,Freedom to make life choices,Freedom to make life choices
7,Health (Life Expectancy),Family,Health..Life.Expectancy.,Generosity,Generosity
8,Freedom,Health (Life Expectancy),Freedom,Perceptions of corruption,Perceptions of corruption
9,Trust (Government Corruption),Freedom,Generosity,NaN,NaN
10,Generosity,Trust (Government Corruption),Trust..Government.Corruption.,NaN,NaN
11,Dystopia Residual,Generosity,Dystopia.Residual,NaN,NaN
12,NaN,Dystopia Residual,NaN,NaN,NaN

# Features Have Same Name with Slight Difference

 Happiness Rank / Happiness.Rank / Overall rank
 
Happiness Score/ Happiness.Score / Happiness.Score / Score

Economy (GDP per Capita) / Economy..GDP.per.Capita./ GDP per capita

Health (Life Expectancy) / Health..Life.Expectancy. / Healthy life expectancy

Freedom / Freedom to make life choices
Generosity

# Features are not in all the Files
2015, 2016, 2017: Dystopia Residual / Dystopia.Residual
    
2015 : Standard error
    
2016 : Lower Confidence Interval + Upper Confidence Interval
    
2017 : Whisker.high + Whisker.low

In [257]:
# 2015 
data[2015].rename(columns={'Happiness Rank': "Rank",  "Happiness Score": "Score", "Economy (GDP per Capita)":"gdp_per_capita", 
                                "Health (Life Expectancy)": "life_expectancy", "Freedom": "freedom", "Generosity": "generosity"}, inplace=True)
# 2016
data[2016].rename(columns={'Happiness Rank': "Rank", "Happiness Score": "Score", "Economy (GDP per Capita)":"gdp_per_capita", 
                                "Health (Life Expectancy)": "life_expectancy", "Freedom": "freedom", "Generosity": "generosity"}, inplace=True)
# 2017
data[2017].rename(columns={'Happiness.Rank': "Rank", "Happiness.Score": "Score", "Economy..GDP.per.Capita.":"gdp_per_capita", 
                                "Health..Life.Expectancy.": "life_expectancy", "Freedom": "freedom", "Generosity": "generosity"}, inplace=True)
# 2018
data[2018].rename(columns={'Overall rank': "Rank", "Score": "Score", "GDP per capita":"gdp_per_capita", 
                                "Healthy life expectancy": "life_expectancy", "Freedom to make life choices": "freedom", "Generosity": "generosity"}, inplace=True)
# 2019
data[2019].rename(columns={'Overall rank': "Rank", "Score": "Score", "GDP per capita":"gdp_per_capita",  
                                "Healthy life expectancy": "life_expectancy", "Freedom to make life choices": "freedom", "Generosity": "generosity"}, inplace=True)

In [260]:
data[2015].isna().sum()

Country                          0
Region                           0
Rank                             0
Score                            0
Standard Error                   0
gdp_per_capita                   0
Family                           0
life_expectancy                  0
freedom                          0
Trust (Government Corruption)    0
generosity                       0
Dystopia Residual                0
dtype: int64

In [261]:
data[2016].isna().sum()

Country                          0
Region                           0
Rank                             0
Score                            0
Lower Confidence Interval        0
Upper Confidence Interval        0
gdp_per_capita                   0
Family                           0
life_expectancy                  0
freedom                          0
Trust (Government Corruption)    0
generosity                       0
Dystopia Residual                0
dtype: int64

In [262]:
data[2017].isna().sum()

Country                          0
Rank                             0
Score                            0
Whisker.high                     0
Whisker.low                      0
gdp_per_capita                   0
Family                           0
life_expectancy                  0
freedom                          0
generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [263]:
data[2018].isna().sum()

Rank                         0
Country or region            0
Score                        0
gdp_per_capita               0
Social support               0
life_expectancy              0
freedom                      0
generosity                   0
Perceptions of corruption    1
dtype: int64

In [264]:
data[2018]=data[2018].fillna(data[2018]['Perceptions of corruption'].median())

In [265]:
data[2019].isna().sum()

Rank                         0
Country or region            0
Score                        0
gdp_per_capita               0
Social support               0
life_expectancy              0
freedom                      0
generosity                   0
Perceptions of corruption    0
dtype: int64

In [266]:
#country
data[2018].rename(columns={'Country or region': "Country"}, inplace=True)
data[2019].rename(columns={'Country or region': "Country"}, inplace=True)
# corruption_perception
data[2015].rename(columns={'Trust (Government Corruption)': "corruption"}, inplace=True)
data[2016].rename(columns={'Trust (Government Corruption)': "corruption"}, inplace=True)
data[2017].rename(columns={'Trust..Government.Corruption.': "corruption"}, inplace=True)
data[2018].rename(columns={'Perceptions of corruption': "corruption"}, inplace=True)
data[2019].rename(columns={'Perceptions of corruption': "corruption"}, inplace=True)
# social_support
data[2015].rename(columns={'Family': "social_support"}, inplace=True)
data[2016].rename(columns={'Family': "social_support"}, inplace=True)
data[2017].rename(columns={'Family': "social_support"}, inplace=True)
data[2018].rename(columns={'Social support': "social_support"}, inplace=True)
data[2019].rename(columns={'Social support': "social_support"}, inplace=True)

In [267]:
# 2015, 2016, 2017: Dystopia Residual / Dystopia.Residual
# 2015 : Standard error
# 2016 : Lower Confidence Interval + Upper Confidence Interval
# 2017 : Whisker.high + Whisker.low
data[2015] = data[2015].drop(columns=['Dystopia Residual','Standard Error'])
data[2016] = data[2016].drop(columns=['Dystopia Residual','Lower Confidence Interval','Upper Confidence Interval'])
data[2017] = data[2017].drop(columns=['Dystopia.Residual','Whisker.high','Whisker.low'])

In [268]:
# Rename Region in respect of naming conventions
data[2015].rename(columns={'Region':'region'}, inplace=True)
data[2016].rename(columns={'Region':'region'}, inplace=True)

# add region information in 2017-2019 sets
df_country_reg = data[2015][['Country','region']].copy()
for year in range(2017,2020):
    data[year] = pd.merge(data[year], df_country_reg, on='Country', how='inner')
    print(data[year].shape)

(149, 10)
(150, 10)
(149, 10)

In [269]:
df_col = pd.DataFrame()

for year in range(2015, 2020):
    data[year] = data[year].reindex(sorted(data[year].columns), axis=1)
    df_col = pd.concat([df_col, pd.DataFrame(data[year].columns.tolist(), columns=[str(year)])],axis=1)

In [270]:
display(df_col)

,2015,2016,2017,2018,2019
0,Country,Country,Country,Country,Country
1,Rank,Rank,Rank,Rank,Rank
2,Score,Score,Score,Score,Score
3,corruption,corruption,corruption,corruption,corruption
4,freedom,freedom,freedom,freedom,freedom
5,gdp_per_capita,gdp_per_capita,gdp_per_capita,gdp_per_capita,gdp_per_capita
6,generosity,generosity,generosity,generosity,generosity
7,life_expectancy,life_expectancy,life_expectancy,life_expectancy,life_expectancy
8,region,region,region,region,region
9,social_support,social_support,social_support,social_support,social_support

In [271]:
# We create our gathering dataset
df = pd.DataFrame()

# we store each set in it
for year in range(2015,2020):
    df = pd.concat([df, dict_data[year]])

In [272]:
df.reset_index(inplace=True)

In [273]:
df=df.drop('index',axis=1)

In [274]:
df

,Country,region,Rank,Score,gdp_per_capita,social_support,life_expectancy,freedom,corruption,generosity
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
758,Yemen,Middle East and Northern Africa,145,3.380,0.28700,1.16300,0.46300,0.14300,0.07700,0.10800
759,Rwanda,Sub-Saharan Africa,146,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700
760,Tanzania,Sub-Saharan Africa,147,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600
761,Afghanistan,Southern Asia,148,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800
762,Central African Republic,Sub-Saharan Africa,149,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500

In [275]:
df.Country.unique()

array(['Switzerland', 'Iceland', 'Denmark', 'Norway', 'Canada', 'Finland',
       'Netherlands', 'Sweden', 'New Zealand', 'Australia', 'Israel',
       'Costa Rica', 'Austria', 'Mexico', 'United States', 'Brazil',
       'Luxembourg', 'Ireland', 'Belgium', 'United Arab Emirates',
       'United Kingdom', 'Oman', 'Venezuela', 'Singapore', 'Panama',
       'Germany', 'Chile', 'Qatar', 'France', 'Argentina',
       'Czech Republic', 'Uruguay', 'Colombia', 'Thailand',
       'Saudi Arabia', 'Spain', 'Malta', 'Taiwan', 'Kuwait', 'Suriname',
       'Trinidad and Tobago', 'El Salvador', 'Guatemala', 'Uzbekistan',
       'Slovakia', 'Japan', 'South Korea', 'Ecuador', 'Bahrain', 'Italy',
       'Bolivia', 'Moldova', 'Paraguay', 'Kazakhstan', 'Slovenia',
       'Lithuania', 'Nicaragua', 'Peru', 'Belarus', 'Poland', 'Malaysia',
       'Croatia', 'Libya', 'Russia', 'Jamaica', 'North Cyprus', 'Cyprus',
       'Algeria', 'Kosovo', 'Turkmenistan', 'Mauritius', 'Hong Kong',
       'Estonia', 'Indonesia', 'Vietnam', 'Turkey', 'Kyrgyzstan',
       'Nigeria', 'Bhutan', 'Azerbaijan', 'Pakistan', 'Jordan',
       'Montenegro', 'China', 'Zambia', 'Romania', 'Serbia', 'Portugal',
       'Latvia', 'Philippines', 'Somaliland region', 'Morocco',
       'Macedonia', 'Mozambique', 'Albania', 'Bosnia and Herzegovina',
       'Lesotho', 'Dominican Republic', 'Laos', 'Mongolia', 'Swaziland',
       'Greece', 'Lebanon', 'Hungary', 'Honduras', 'Tajikistan',
       'Tunisia', 'Palestinian Territories', 'Bangladesh', 'Iran',
       'Ukraine', 'Iraq', 'South Africa', 'Ghana', 'Zimbabwe', 'Liberia',
       'India', 'Sudan', 'Haiti', 'Congo (Kinshasa)', 'Nepal', 'Ethiopia',
       'Sierra Leone', 'Mauritania', 'Kenya', 'Djibouti', 'Armenia',
       'Botswana', 'Myanmar', 'Georgia', 'Malawi', 'Sri Lanka',
       'Cameroon', 'Bulgaria', 'Egypt', 'Yemen', 'Angola', 'Mali',
       'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon',
       'Niger', 'Cambodia', 'Tanzania', 'Madagascar',
       'Central African Republic', 'Chad', 'Guinea', 'Ivory Coast',
       'Burkina Faso', 'Afghanistan', 'Rwanda', 'Benin', 'Syria',
       'Burundi', 'Togo', 'Puerto Rico', 'Belize', 'Somalia',
       'Somaliland Region', 'Namibia', 'South Sudan'], dtype=object)

In [276]:
df.set_index('Country',inplace=True)

In [277]:
df=pd.get_dummies(df,columns=['region'])

In [278]:
df

,Rank,Score,gdp_per_capita,social_support,life_expectancy,freedom,corruption,generosity,region_Australia and New Zealand,region_Central and Eastern Europe,region_Eastern Asia,region_Latin America and Caribbean,region_Middle East and Northern Africa,region_North America,region_Southeastern Asia,region_Southern Asia,region_Sub-Saharan Africa,region_Western Europe
Country,,,,,,,,,,,,,,,,,,
Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,0,0,0,0,0,0,0,0,0,1
Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,0,0,0,0,0,0,0,0,0,1
Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,0,0,0,0,0,0,0,0,0,1
Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,0,0,0,0,0,0,0,0,0,1
Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,145,3.380,0.28700,1.16300,0.46300,0.14300,0.07700,0.10800,0,0,0,0,1,0,0,0,0,0
Rwanda,146,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,0,0,0,0,0,0,0,0,1,0
Tanzania,147,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,0,0,0,0,0,0,0,0,1,0
Afghanistan,148,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,0,0,0,0,0,0,0,1,0,0
Central African Republic,149,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,0,0,0,0,0,0,0,0,1,0

In [279]:
df=df.drop(['Rank'],axis=1)

In [280]:
df

,Score,gdp_per_capita,social_support,life_expectancy,freedom,corruption,generosity,region_Australia and New Zealand,region_Central and Eastern Europe,region_Eastern Asia,region_Latin America and Caribbean,region_Middle East and Northern Africa,region_North America,region_Southeastern Asia,region_Southern Asia,region_Sub-Saharan Africa,region_Western Europe
Country,,,,,,,,,,,,,,,,,
Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,0,0,0,0,0,0,0,0,0,1
Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,0,0,0,0,0,0,0,0,0,1
Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,0,0,0,0,0,0,0,0,0,1
Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,0,0,0,0,0,0,0,0,0,1
Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,3.380,0.28700,1.16300,0.46300,0.14300,0.07700,0.10800,0,0,0,0,1,0,0,0,0,0
Rwanda,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,0,0,0,0,0,0,0,0,1,0
Tanzania,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,0,0,0,0,0,0,0,0,1,0
Afghanistan,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,0,0,0,0,0,0,0,1,0,0
Central African Republic,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,0,0,0,0,0,0,0,0,1,0

In [281]:
X=df.drop(['Score'],axis=1)
y=df['Score']

In [282]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=1)

In [284]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(X_train,y_train)
pred=rf.predict(X_test)

In [299]:
accuracy=rf.score(X_test,y_test)
print("Accuracy : ",round(accuracy*100,2),"%")

Accuracy :  86.8 %

In [300]:
compare=pd.DataFrame({"Test":y_test,"pred":pred})
compare

               Test     pred
Country
Kyrgyzstan    5.131  5.21736
Chad          3.667  4.20727
Burkina Faso  4.424  4.16448
Peru          5.663  6.20490
Azerbaijan    5.234  5.57920
...             ...      ...
Italy         5.948  5.76315
Uruguay       6.485  6.61312
Burundi       2.905  3.12690
Lesotho       3.802  4.29776
Vietnam       5.074  5.24551

[252 rows x 2 columns]